### Excel to CSV

In [3]:
import csv
from openpyxl import load_workbook

In [4]:
wb = load_workbook(filename='death_data.xlsx')
sheet = wb.active

In [5]:
csv_data=[]
for value in sheet.iter_rows(values_only=True):
    csv_data.append(list(value))

In [6]:
with open('death_data.csv','w') as csv_obj:
    writer = csv.writer(csv_obj,delimiter=',')
    for line in csv_data:
        writer.writerow(line)

### Code

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from word2number import w2n

In [8]:
df = pd.read_csv('death_data.csv')
df.head()

                 Month                 Date  Cases  Death
0  2022-01-01 00:00:00  2022-01-01 00:00:00    4.0    0.0
1                  NaN  2022-01-02 00:00:00   11.0    0.0
2                  NaN  2022-01-03 00:00:00   29.0    0.0
3                  NaN  2022-01-04 00:00:00    4.0    0.0
4                  NaN  2022-01-05 00:00:00    4.0    0.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 646 entries, 0 to 645
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Month   22 non-null     object
 1   Date    646 non-null    object
 2   Cases   643 non-null    float64
 3   Death   643 non-null    float64
dtypes: float64(2), object(2)
memory usage: 20.3+ KB

In [10]:
df['Date'] = pd.to_datetime(df['Date'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 646 entries, 0 to 645
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Month   22 non-null     object
 1   Date    646 non-null    datetime64[ns]
 2   Cases   643 non-null    float64
 3   Death   643 non-null    float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 20.3+ KB

In [12]:
df.head()

                 Month       Date  Cases  Death
0  2022-01-01 00:00:00 2022-01-01    4.0    0.0
1                  NaN 2022-01-02   11.0    0.0
2                  NaN 2022-01-03   29.0    0.0
3                  NaN 2022-01-04    4.0    0.0
4                  NaN 2022-01-05    4.0    0.0

In [13]:
df['Date_year'] = df['Date'].dt.year
df['Date_month'] = df['Date'].dt.month
df['Date_day'] = df['Date'].dt.day
df.head()

,Month,Date,Cases,Death,Date_year,Date_month,Date_day
0,2022-01-01 00:00:00,2022-01-01,4.0,0.0,2022,1,1
1,NaN,2022-01-02,11.0,0.0,2022,1,2
2,NaN,2022-01-03,29.0,0.0,2022,1,3
3,NaN,2022-01-04,4.0,0.0,2022,1,4
4,NaN,2022-01-05,4.0,0.0,2022,1,5

In [14]:
#X = final.drop('price', axis='columns')
final = df.drop(['Month','Date'],axis='columns')
final

      Cases  Death  Date_year  Date_month  Date_day
0       4.0    0.0       2022           1         1
1      11.0    0.0       2022           1         2
2      29.0    0.0       2022           1         3
3       4.0    0.0       2022           1         4
4       4.0    0.0       2022           1         5
..      ...    ...        ...         ...       ...
641  2564.0   16.0       2023          10         4
642  2617.0    9.0       2023          10         5
643  1800.0    9.0       2023          10         6
644  2158.0   15.0       2023          10         7
645  2742.0    7.0       2023          10         8

[646 rows x 5 columns]

In [15]:

final.to_csv("Predict.csv")

In [16]:
df = pd.read_csv('Predict.csv')
df

     Unnamed: 0   Cases  Death  Date_year  Date_month  Date_day
0             0     4.0    0.0       2022           1         1
1             1    11.0    0.0       2022           1         2
2             2    29.0    0.0       2022           1         3
3             3     4.0    0.0       2022           1         4
4             4     4.0    0.0       2022           1         5
..          ...     ...    ...        ...         ...       ...
641         641  2564.0   16.0       2023          10         4
642         642  2617.0    9.0       2023          10         5
643         643  1800.0    9.0       2023          10         6
644         644  2158.0   15.0       2023          10         7
645         645  2742.0    7.0       2023          10         8

[646 rows x 6 columns]

In [17]:
### Handling Null Variable by replacing the colomns floored_median number
import math
median_cases = math.floor(df.Cases.median())


### Filling NaN values with median number
df.Cases = df.Cases.fillna(median_cases) ## replacing NaN value and also assign 
df.Cases

0         4.0
1        11.0
2        29.0
3         4.0
4         4.0
        ...
641    2564.0
642    2617.0
643    1800.0
644    2158.0
645    2742.0
Name: Cases, Length: 646, dtype: float64

In [18]:
import math
median_death = math.floor(df.Death.median())
df.Death = df.Death.fillna(median_death) 
df.Death

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
641    16.0
642     9.0
643     9.0
644    15.0
645     7.0
Name: Death, Length: 646, dtype: float64

In [19]:
reg = linear_model.LinearRegression()
reg.fit(df[['Date_year','Date_month','Date_day','Cases']],df.Death)

LinearRegression()

In [20]:
reg.predict([[2023,6,6,96]])

C:\Users\sayem\AppData\Roaming\Python\Python312\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([0.71416911])

In [23]:
x = df[['Date_year','Date_month','Date_day','Cases']]
y = df.Death

In [24]:
reg.score(x,y)

0.8595442159277601

### Prophet

In [ ]:
import prophet

Importing plotly failed. Interactive plots will not work.